$def with (mail)
$var recursive : False
$var email : $mail
<div class="top-bar">
    <div class="page-title">
        Profil
    </div>
</div>
<div class="spacer">
    <div class="main-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog blog-danger">
                        <div class="blog-header">
                            <h5 class="blog-title">Mes requêtes</h5>
                        </div>
                        <div class="blog-body">
                            <ul class="clients-list">
                                $for k, v in data.AllRequests.elements.items():
                                    $if data.AllUsers.elements[v.data['user']].data['mail'] == mail:
                                        <li class="client clearfix">
                                            <img src="static/img/users$data.AllUsers.get_user(mail).data['id_user']" class="avatar" alt="Client">
                                            <div class="client-details">
                                                <div class="row">
                                                    <div class="col-lg-5 hidden-xs">
                                                        <p>
                                                            <span class="question">$v.data['subject']</span>
                                                        </p>

                                                    </div>
                                                    <div class="col-lg-5">
                                                        <p>
                                                            $if v.data['status'] == '1' or v.data['status'] == 1:
                                                                <span class="question" style="color:red">Non résolus</span>
                                                            $elif v.data['status'] == '2' or v.data['status'] == 2:
                                                                <span class="question" style="color:orange">En cours de résolution</span>
                                                            $elif v.data['status'] == '3' or v.data['status'] == 3:
                                                                <span class="question" style="color:green">Résolus</span>
                                                        </p>

                                                    </div>
                                                </div>
                                                <ul class="icons-nav">
                                                    <li>

                                                        <form method="post">
                                                            <input type="text" class="hide" name="_idrequest_" value="$v.data['id_request']">
                                                            <a href="#"  data-id="$k" class="eye" data-toggle="tooltip"  title="" data-original-title="Contact">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                            $if v.data['status'] != 3 and v.data['status'] != '3':
                                                                <button type="submit" name="_validate_" value="validate" class="btn">
                                                                    <i class="fa fa-check"></i>

                                                                </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog">
                        <div class="blog-header">
                            <h5 class="blog-title">A propos</h5>
                        </div>
                        <div class="blog-body center-align-text">
                            <img src="static/img/users$data.AllUsers.get_user(mail).data['id_user']" alt="User" class="img-responsive img-circle auto-margin img-xs">
                            <hr class="less-margin">
                            <div class="blog-content">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">

                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-7">
                                            <h4>$mail</h4>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Identité</label>
                                        <div class="col-sm-7">
                                            <h4>$data.AllUsers.get_user(mail).data['lastname'] $data.AllUsers.get_user(mail).data['firstname']</h4>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Score</label>
                                        <div class="col-sm-7">
                                            $if data.AllUsers.get_user(mail).data['rating'] == "":
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            $else:
                                                $for i in range(1, 6):
                                                    $if (int(data.AllUsers.get_user(mail).data['rating']) / int(data.AllUsers.get_user(mail).data['nb_rating'])) >= i:
                                                        <i class="fas fa-star" style="color:darkorange"></i>
                                                    $else:
                                                        <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog blog-success">
                        <div class="blog-header">
                            <h5 class="blog-title">Actes de bravoure</h5>
                        </div>
                        <div class="blog-body">
                            <ul class="clients-list">
                                $for k, v in data.AllRequests.elements.items():

                                    $if data.AllUsers.elements[v.data['user']].data['mail'] != mail and (v.data['status'] == 3 or v.data['status'] == '3') and v.data['helper'] ==  data.AllUsers.get_user(mail).data['id_user']:
                                        <li class="client clearfix">
                                            <img src="static/img/users$v.data['user']" class="avatar" alt="Client">
                                            <div class="client-details">
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                        <p>
                                                            <span class="name">$data.AllUsers.elements[v.data['user']].data['firstname'] $data.AllUsers.elements[v.data['user']].data['lastname']</span>
                                                            <span class="email">$data.AllUsers.elements[v.data['user']].data['mail']</span>
                                                        </p>

                                                    </div>
                                                    <div class="col-lg-5 hidden-xs">
                                                        <p>
                                                            <span class="question">$v.data['subject']</span>
                                                        </p>

                                                    </div>
                                                </div>
                                                <ul class="icons-nav">
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="Contact">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>