$def with (mail,id)
$var recursive : True
$var email : $mail
<div class="modal-header">

</div>
<div class="modal-body">
    <div class="blog">
        <div class="blog-body">
            <img src="static/img/users$id" alt="User" class="img-responsive img-circle auto-margin img-xs">
            <br/>
            <h5 class="text-center">$data.AllUsers.elements[data.AllRequests.elements[id].data['user']].data['firstname'] $data.AllUsers.elements[data.AllRequests.elements[id].data['user']].data['lastname'] a besoin de votre aide !</h5>
            <blockquote>$data.AllRequests.elements[id].data['remark']</blockquote>
        </div>
    </div>

</div>
