$def with (mail)
$var recursive : False
$var email : $mail
<div class="top-bar">
    <div class="page-title">
        Requêtes
    </div>
</div>
<div class="spacer">
    <div class="main-container">
        <div class="container-fluid">
            <div class="panel panel-white">

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed table-bordered no-margin">
                            <thead>
                                <th></th>
                                <th>Nom</th>
                                <th>Question</th>
                                <th>Domaine</th>
                                <th>Statut</th>
                            </thead>
                            <tbody>
								$for k, v in data.AllRequests.elements.items():
									<tr>
										<td><img src="static/img/stalinou.jpg" alt="Smiley face" height="42" width="42"></td>
										<td>$data.AllUsers.elements[v.data['user']].data['firstname'] $data.AllUsers.elements[v.data['user']].data['lastname']</td>
										<td>$v.data['subject']</td>
										<td>$data.AllSpecialities.elements[v.data['id_domain']].data['name']</td>
										<td>
											$if v.data['status'] == '1':
												En attente
											$elif v.data['status'] == '2':
												En cours
											$elif v.data['status'] == '3':
												Fini
										</td>
									</tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
